
  /*********************/
  /*       ROOT        */
  /*********************/

  :root {
    --h1-color: black;
    --pokeRed: rgb(255, 53, 53);
    --pokeBlue: rgb(195, 195, 255);
  }

@font-face {
  font-family: "pokefont";
  src: url(fonts/PokemonClassic.ttf);
}

/* https://www.dafont.com/pokemon-classic.font */





  /*********************/
  /*       TEKST       */
  /*********************/
    
  h1, h2, h3, h4, p, a, li{
    font-family: "pokefont";
}


  h1 {
      color: var(--pokeRed);
      text-align: center;
  }
  
  h2{
    margin-top: .1em;
    text-align: center;
  }

  h3{
    margin-top: 0;
  }

  .vs{
   margin-top: 10em;
  }

  p, li{
      text-transform: capitalize;
      padding: 0.2em;
      background-color: var(--pokeBlue);
      margin-bottom: .5em;
      font-size: small;
  }

  ul{
    margin-left: -2.5em;
  }


  li{
    list-style-type: none;
    background-color: var(--pokeBlue);
  }

  .types{
    display: inline;
    border-style: solid;
    border-width: 0.1em;
    margin-left: .5em;
    margin-right: .5em;
  }

  .firstHalf p{
    margin-top: 0;
  }
  
  .stats p{
    text-align: left;
    display: block;
    font-size: .8em;
    margin-bottom: 1em;
  }

  .statName{
    margin-right: 1em;
  }




  
  /*********************/
  /*     MAIN BOX      */
  /*********************/


  img{
    text-align: center;
  }

  .battle{
    display: flex;
    justify-content: center;
    gap: 5em;
  }

  .pokemon{
    width: 20em;
    padding: 1em;
    background-color: rgb(188, 188, 188);
    border-style: solid;
  }


  .firstHalf, .secondHalf{
    padding: 0.5em;
    border-style: double;
    text-align: center;
  }

  .firstHalf{
    background-color: rgb(255, 255, 255);
  }

  .firstHalf img{
    width: 11em;
    height: auto;
  }

  .secondHalf{
    background-color: var(--pokeRed);
  }

  .stats{
    display: inline-flex;
  }